<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="style.css" type="text/css" rel="stylesheet">

</head>
<body>
  <div class="logo">
    <img src="logo.png" alt="logo" style="width: 50px; height: 50px;">
  </div>
<div class="container">
  <div class="row">
    <div class="col-sm vr">
      <a href="index.html"><p class="header-text">Forside</p></a>
    </div>
    <div class="col-sm vr">
      <a class="active" href="about.html"><p class="header-text">Om os</p></a>
    </div>
    <div class="col-sm vr">
      <a href="where.html"><p class="header-text">Hvor er vi?</p></a>
    </div>
    <div class="col-sm vr">
      <a href="contact.html"><p class="header-text">Kontakt</p></a>
    </div>
  </div>
</div>



  <div class="container">
    <div class="row">
      <div class="col-sm">
       <p class="aboutHeader">VORES VISION</p>
     </div>
    </div>
  </div>


  <div class="container">
    <div class="row">
      <div class="bodyText">
       <p> Hos <nobr class="green"> De grønne kokke</nobr> går vi ind for at undgå så meget<br> madspild som muligt. Det vil vi gøre<br> ved hjælp af jer supermarkeder.<br> Vi har flere kokke med en vogn som gerne<br> vil ud til netop jer og lave mad ud af jeres<br> varer der er ved at udløbe.<br> Med jeres hjælp kan vi undgå madspild og sørge for<br> at gøre jeres kunder glade. Vores kokke er alle<br> er uddannede og kan bruge et<br> stort sortiment af forskellige madvarer. </p>
     </div>

      <div class="col-sm aboutTopPic">
        <img src="vandmel.png" alt="logo" style="width: 55%; height: 80%;">
      </div>
    </div>


  </div>
  






</body>
</html>