<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="style.css" type="text/css" rel="stylesheet">
 
</head>
<body>
  <div class="logo">
    <img src="logo.png" alt="logo" style="width: 50px; height: 50px;">
  </div>
<div class="container">
  <div class="row">
    <div class="col-sm vr">
      <a class="active" href="index.html"><p class="header-text">Forside</p></a>
    </div>
    <div class="col-sm vr">
      <a href="about.html"><p class="header-text">Om os</p></a>
    </div>
    <div class="col-sm vr">
      <a href="where.html"><p class="header-text">Hvor er vi?</p></a>
    </div>
    <div class="col-sm vr">
      <a href="contact.html"><p class="header-text">Kontakt</p></a>
    </div>
  </div>
 
  <div class="container">
    <div class="row">
      <div class="col-sm frontpageTopDiv">
        <p class="bodyText">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum magna felis, facilisis ut hendrerit non, blandit ac odio. Phasellus aliquet sapien vestibulum leo ullamcorper, vulputate commodo diam hendrerit. Donec maximus velit tellus, non viverra dolor ultricies at. Nam lobortis viverra tellus, vitae hendrerit ex venenatis rutrum. Maecenas ultrices ex leo, a accumsan dolor lacinia sit amet. Donec mollis magna dui, a commodo enim finibus ut. Phasellus lobortis, lacus sed varius rutrum, ante ligula cursus dolor, ac rhoncus elit nulla eu augue.</p>
      </div>
 
      <div class="col-sm frontpageTopPic">
        <img src="frontpage-food.jpg" alt="food" style="width: 75%; height: width: 75%">
      </div>
    </div>
  </div>
 
    <div class="container">
    <div class="row">
 
       <div class="col-sm frontpageBotPic">
        <img src="frontpage-food.jpg" alt="food" style="width: 75%; height: width: 75%">
      </div>
 
      <div class="col-sm frontpageBotDiv">
        <p class="bodyText">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum magna felis, facilisis ut hendrerit non, blandit ac odio. Phasellus aliquet sapien vestibulum leo ullamcorper, vulputate commodo diam hendrerit. Donec maximus velit tellus, non viverra dolor ultricies at. Nam lobortis viverra tellus, vitae hendrerit ex venenatis rutrum. Maecenas ultrices ex leo, a accumsan dolor lacinia sit amet. Donec mollis magna dui, a commodo enim finibus ut. Phasellus lobortis, lacus sed varius rutrum, ante ligula cursus dolor, ac rhoncus elit nulla eu augue.</p>
      </div>
    </div>
  </div>
 
 
</div>
</body>
</html>